BE/node_modules
BE/.env
.DS_Store
FE/node_modules
FE/.env
BE/userMailingJobs/.env
BE/combined.log
BE/error.log
/BE/public/uploads/orders/
/BE/public/uploads/products/
/BE/public/uploads/shipping/
/BE/public/uploads/tmp/
/BE/public/uploads/users/
/BE/error.log
/BE/combined.log.log
.idea
/_DB/
/BE/public/uploads/archives/
/FE/DELETE
./settings
.project
/.settings/
BE/_stepByStepMigration
/_DELETETE_SERVER/SidebarHeaderOld.tsx
/_DELETETE_SERVER/SidebarLayoutOld.tsx
/_DELETETE_SERVER/
/BE/public/uploads/
/_DB.zip
/_DB 2.zip
BE/public/uploads/
BE/public/uploads/products/
/FE/_services/OLD
/BE/OLDTASKS/
/FE/_services/PRVIOUS30092023/
/BE/serverStoreJobs/
/BE/storeJobsLocal/
/BE/_stepByStepMigration/
/BE/storeJobs/.env
/BE/public/uploads/
/BE/userMailingJobs/.env
/BE/subscriptionChangeJobs/.env
/BE/src/api/models/1367/
/BE/fblongcontent.json
/FE/pages/browser-detect.js
