h1 {
  letter-spacing: .01em;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 58px;
  font-weight: 700;
  line-height: 1.034em;
  color: #091273;

  .text-white {
    color: #000;
  }
}

.text-cligraf {
  font-family: "Pacifico", cursive;
}
h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.034em;
  color: #091273;
}

h3 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.034em;
  color: #091273;
}
h4 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.034em;
  color: #091273;
}
