@use "tailwindcss/base";
@use "tailwindcss/components";
@use "tailwindcss/utilities";
@use "tailwindcss/screens";

@use "components/header";
@use "components/typography";
@use "components/icons";
@use "components/table";
@use "components/form";
@use "components/buttons";
@use "components/dropzone";
@use "components/media";
@use "components/price";
@use "components/dashboard";
@use "components/scheduler";
@use "components/fileupload";
@use "components/tooth";
@use "components/tabs";
@use "components/patients";
@use "components/diagnozis";
@use "components/tooltip";
@use "components/formula";
@use "components/perio";
@use "components/psr";


@import url('https://fonts.googleapis.com/css2?family=Manrope:ital,wght@0,300..800;1,300..800&display=swap');


body {
    background: #f8f9fa;
    font-family: "Raleway", sans-serif;
}
.bg-main {
    background-image: url(../images/bg/bg-main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000a22;
}

.disabled-content {
    pointer-events: none;
    opacity: 0.5;
    background-color: #f2f2f2;
    color: #999;
    cursor: not-allowed;
}
.wrapper {
    display: block;
    width: 100%;
}
.wrapper:before,
.wrapper:after {
    content: " ";
    display: table;
}
.wrapper:after {
    clear: both;
}
.one-fourth {
    width: 23.5%;
    float: left;
    margin-right: 1.333333%;
    background: red;
    height: 100px;
    margin-bottom: 1.333333%;
}
.last {
    margin-right: 0;
}
.grid-p {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    //grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.navbar-collapse {
    position: absolute;
    right: 0;
    top: 66px;
    background: #fff;
    width: 100%;
    transition: all .4s ease-in;
    transform: translateX(0);
}
.navbar-toggler {
    display: none;
}


.navbar-toggler {
    z-index: 999999;
}
.br {
    border: solid 1px;
}
.content-data {
    border-radius: 4px;
}


