.btn-view {
    background-image: url('../../images/action-icons/view.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: inline-block;
    margin-left: 10px;
}
.btn-edit {
    background-image: url('../../images/action-icons/edit.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: inline-block;
    margin-left: 10px;
}
.btn-delete {
    background-image: url('../../images/action-icons/trash.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: inline-block;
    margin-left: 10px;
}
.btn-store {
    background-image: url('../../images/action-icons/store.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: inline-block;
    margin-left: 10px;
}
.btn-assign {
    background-image: url('../../images/action-icons/attach.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: inline-block;
    margin-left: 10px;
}
.btn-back {
    // background: #343335;
    background-image: linear-gradient(to left top, rgb(215, 190, 209), rgb(167, 153, 160)) !important;
    display: inline-block;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    margin-right: 10px;
}
.btn-back:hover {
    background-image: linear-gradient(to left top, rgb(155, 141, 151), rgb(137, 108, 122)) !important;
}
.btn-invite {
    background: #663399;
    display: inline-block;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
}
.btn-submit {
    // background: #663399;
    background-image: linear-gradient(to left top, rgb(121, 40, 202), rgb(255, 0, 128)) !important;
    display: inline-block;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    //margin-left: 10px;
    font-weight: bold;
    font-size: 14px;
}
.btn-submit:hover {
    background-image: linear-gradient(to left top, rgb(92, 51, 133), rgb(225, 78, 151)) !important;
}
.btn-plus {
    background-image: url('../../images/action-icons/plus.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 16px;
    height: 16px;
    cursor: pointer;
    display: inline-block;
    margin-left: 10px;
}
.btn-cancelissue {
    background: #7a1055;
}


.btn-grad {background-image: linear-gradient(to right, #E55D87 0%, #5FC3E4  51%, #E55D87  100%)}
.btn-grad {
    //margin: 10px;
    padding: 5px 10px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 5px;
    display: block;
    font-weight: bold;
}

.btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}


.btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}
.gradient-btn-small {
    box-shadow: 0 10px 20px rgba(247, 109, 109, 0.2), inset 0px -4px 0px rgba(0, 0, 0, 0.1);
    /*@apply basic-btn red-yellow-gradient font-bold text-sm text-white rounded-lg px-2 py-1.5*/
}
