//Змінений у кольорі
.change-color {
    fill: #fdde88;
}
.change-color.diagnoze {
    fill: #882907;
}
.change-color.diagnoze-opacity {
    fill: #882907;
    opacity: 0.7
}
.fissure {
    fill: #5E5E5E;
    stroke-width: 5;
}
.fissure.diagnoze {
    fill: #5E5E5E;
    stroke-width: 5;
    stroke: rgba(5, 0, 0, 0.7);
}
.caries-filling .st7.target {
    stroke-width: 1;
}

.caries-center {
    stroke-width: 0;
    fill: none;
}
.caries-bottom {
    stroke-width: 0;
    fill: none;
}
.caries-right {
    stroke-width: 0;
    fill: none;
}
.caries-left {
    stroke-width: 0;
    fill: none;
}
.caries-top {
    stroke-width: 0;
    fill: none;
}
.caries-stroke {
    stroke-width: 1;
}
.caries-fill {
    fill: #606c80;
    opacity: 1;
}
.cervical-caries {
    fill: #606c80;
    opacity: 1;
}
.cervical-caries-hueta {
    fill: #c21a79;
    opacity: 1;
}
.cervical-caries-stroke {
    stroke: #606c80;
    stroke-width: 6px;
    opacity: 1;
}
.tartar-part {
    stroke: #606c80;
    stroke-width: 6px;
    opacity: 1;
}
.pulpit {
    fill: #e80808;
}
.channel-not-sealed {
    fill: #837272;
}
.channel-top-sealed {
    fill: #dd7d7d;
}
.channel-part-sealed {
    fill: #dd7d7d;
}
.channel-part-sealed.top-sealed-part {
    fill: #181818;
}
.periodontit, .periodontit {
    fill: #837272;
}
.shaped-defect-stroke {
    stroke: rgb(156, 156, 156);
    stroke-width: 2px;
    opacity: 1;
}
.seal-fill.blue {
    // fill: #60a5fa;
    fill:rgba(31, 94, 182, 0.7);
    opacity: 1;
}
.seal-fill.yellow {
    fill:rgba(241, 236, 110, 0.7);
}
.seal-fill.pink {
    fill: rgba(176, 95, 217, 0.7);
}
.wedge-shaped.yellow {
    fill:rgba(241, 236, 110, 0.7);
}
.wedge-shaped.blue {
    fill:rgba(174, 235, 252, 0.95);
}
.wedge-shaped.pink {
    fill: rgba(176, 95, 217, 0.7);
}
.seal-cervical-stroke {
    stroke: rgb(24, 22, 22);
    stroke-width: 1px;
    opacity: 1;
}
.vinir-fill.blue{
    fill:rgba(110, 238, 249, 0.95);
}
.vinir-fill.yellow{
    fill:rgba(241, 236, 110, 0.7);
    stroke-width: 3;
    stroke: rgb(81, 79, 72);
}
.vinir-fill.pink{
    fill:rgba(176, 95, 217, 0.7);
    stroke-width: 5;
    stroke: rgb(81, 79, 72);
}
.temporary-crown, .crown-fill {
    fill: #c8cdcb;
}
.temporary-crown.blue {
    fill: rgb(110, 238, 249);
}
.temporary-crown.yellow {
    fill: #f7eb85;
    stroke-width: 5;
    stroke: rgb(81, 79, 72);
}
.crown-fill.yellow {
    fill: #f7eb85;
    stroke-width: 5;
    stroke: rgb(81, 79, 72);
}
.crown-fill.pink {
    fill: rgba(237, 161, 202, 0.75);
    stroke-width: 8;
    stroke: rgb(81, 79, 72);
}
.st60.blue {
    fill:rgba(110, 238, 249, 0.95);
    stroke-width: 1;
}
.st60.yellow {
    fill:#f7eb85;
    stroke-width: 1;
}
.st60.pink {
    fill:rgba(237, 161, 202, 0.75);
    stroke-width: 1;
}
.num-active {
    font-weight: bold;
    font-size:  50px;
    fill: #6a10b3;
    opacity: 1 !important;
}