.patient-left {
    padding-left: 0;
    padding-top: 0;
    border: solid 1px;
}
.patient-right {
    padding-right: 0;
    border: solid 1px;
}

.patient-item {
    margin-bottom: 5px;
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.03);
    border-radius: 5px !important;
    border:solid 1px #e7dcfd;
    background-color: #fff;
    display: flex;
    padding: 7px 5px;
}
.phone-patient {
    font-style: normal;
    display: block;
    font-size: 11px;
    margin-left:10px;
}
.icon-block {
    display: inline-block !important;
    margin-top: 10px;
    color: #5a595d;
}
.patient-stage {
    border-left-color: #663399;
    border-width: 3px;
    border-top: solid 1px #d2cfcf;
    border-radius: 5px;
    border-bottom: solid 1px #d2cfcf;
    border-right: solid 1px #d2cfcf;
    width: 100%;
    min-height: 50px;

}

.patient-view-border {
    border-left-color: #663399;
    border-width: 3px;
    border-top: solid 1px #d2cfcf;
    border-radius: 5px;
    border-bottom: solid 1px #d2cfcf;
    border-right: solid 1px #d2cfcf;
    width: 100%;
    height: 100px;

    img {
        height: 95px;
        width: auto;
        padding-left:5px;
    }

    .icon-block {
        position: absolute;
        top: 0;
        right: 0;

        ul li {
            list-style: none;
            display: inline;
            margin-right: 20px;
        }
    }
    .tabs-block {
        position: absolute;
        right: 10px;
        bottom: 10px;

        li {
            list-style: none;
            display: inline;
            padding-right: 10px;
            padding-left: 10px;
            font-size: 14px;
            padding-bottom: 11px;
            cursor: pointer;
        }
        li.active {
            border-bottom: solid 4px;
            border-color: #663399;
        }
    }
}
.sub-tab {
    padding-top: 10px;
    
    li {
        list-style: none;
        display: inline;
        padding-right: 10px;
        padding-left: 10px;
        font-size: 14px;
        padding-bottom: 11px;
        cursor: pointer;
    }
    li.active {
    }
}
.profile-photo {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100px;
    height: 94px;
    background-image: url(../../images/patient-avatar.jpg);
    margin-top: 2px;
    margin-left: 2px;
}
.parient-info {
    padding-left: 20px;
    margin-top: 25px;
}
.patient-content-border {
    border-left-color: #663399;
    border-width: 3px;
    border-top: solid 1px #d2cfcf;
    border-radius: 5px;
    border-bottom: solid 1px #d2cfcf;
    border-right: solid 1px #d2cfcf;
}
.tabs li {
    list-style: none;
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 14px;
    padding-bottom: 11px;
    cursor: pointer;
    
}